.red{
  color: rgb(248, 177, 177);
  background-color: rgb(41, 4, 4);
  padding: 10px;
  margin-bottom: 10px;
}

.green{
  color: rgb(162, 240, 162);
  background-color: rgb(4, 41, 7);
  padding: 10px;
  margin-bottom: 10px;
}